*background: #222222
*foreground: #E8E5E5
! black
*color0: #151515
! bright_black
*color8: #5d5d5d
! red
*color1: #bf3e6f
! bright_red
*color9: #dc9db7
! green
*color2: #79ad47
! bright_green
*color10: #c0caa6
! yellow
*color3: #aba742
! bright_yellow
*color11: #EBF52F
! blue
*color4: #517DF5
! bright_blue
*color12: #4F89DB
! magenta
*color5: #8363A6
! bright_magenta
*color13: #9F6BD6
! cyan
*color6: #50ad8d
! bright_cyan
*color14: #afcac3
! white
*color7: #cbcbcb
! bright_white
*color15: #ffffff

URxvt*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-*-* 
URxvt.boldFont: -*-terminus-medium-*-*-*-14-*-*-*-*-*-*-*
URxvt.geometry: 87x26
URxvt*iconFile: /usr/share/icons/Faenza/apps/scalable/terminal.svg
URxvt.perl-ext-common : default,tabbedex,matcher
URxvt.url-launcher: /usr/bin/palemoon
URxvt.colorUL: #4682B4
URxvt.matcher.button  : 1
!URxvt.letterSpace: -2
URxvt.meta8: false
URxvt.iso14755 : false
URxvt.iso14755_52: false
URxvt*.transparent: false
URxvt*scrollBar: false
URxvt*cursorBlink: false
URxvt*jumpScroll: true
!URxvt.borderLess: true
!URxvt tabbedex settings
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    1
URxvt.tabbed.tab-bg:    0
URxvt.tabbed.autohide: true
URxvt.tabbed.title: yes
URxvt.keysym.Control-t: perl:tabbedex:new_tab
URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
URxvt.keysym.Control-ISO_Left_Tab: perl:tabbedex:prev_tab
!URxvt font-size settings
!URxvt.keysym.Control-KP_Add:     font-size:increase
!URxvt.keysym.Control-KP_Subtract:   font-size:decrease
!-- Xft settings -- !
Xft.lcdfilter: lcddefault
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
