<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="root-menu" label="Openbox 3">
	<separator label="Menu"/>
<menu id="İnternet" label="İnternet">
	 <item label="Firefox" icon="/usr/share/icons/Faenza/apps/scalable/firefox.svg">
       <action name="Execute"><execute>firefox </execute></action>
     </item>
	 <item label="Skype" icon="/usr/share/icons/Faenza/apps/scalable/skype.svg">
       <action name="Execute"><execute>apulse skype </execute></action>
     </item>
	 <item label="Thunderbird" icon="/usr/share/icons/Faenza/apps/scalable/thunderbird.svg">
       <action name="Execute"><execute>thunderbird </execute></action>
     </item>
 </menu> <!-- İnternet -->
<menu id="Donatılar" label="Donatılar">
	<item label="Arşiv Yöneticisi" icon="/usr/share/icons/Faenza/apps/scalable/file-roller.svg">
       <action name="Execute"><execute>file-roller </execute></action>
     </item>
	 <item label="Redshift" icon="/usr/share/icons/hicolor/scalable/apps/redshift.svg">
       <action name="Execute"><execute>redshift-gtk</execute></action>
     </item>
	 <item label="Vim" icon="/usr/share/icons/Faenza/apps/scalable/vim.svg">
       <action name="Execute"><execute>urxvtc -e vim </execute></action>
     </item>
 </menu> <!-- Donatılar -->
 <menu id="Grafik" label="Grafik">
      <item label="Feh" icon="///usr/share/feh/images/feh.png">
       <action name="Execute"><execute>feh_browser  </execute></action>
     </item>
      <item label="MComix" icon="/usr/share/icons/hicolor/16x16/apps/mcomix.png">
       <action name="Execute"><execute>mcomix </execute></action>
     </item>
      <item label="MuPDF" icon="/usr/share/pixmaps/mupdf.xpm">
       <action name="Execute"><execute>mupdf </execute></action>
     </item>
      <item label="Pinta" icon="/usr/share/icons/hicolor/16x16/apps/pinta.png">
       <action name="Execute"><execute>pinta </execute></action>
     </item>
 </menu> <!-- Grafik -->
 <menu id="Ofis" label="Ofis">
      <item label="LibreOffice" icon="/usr/share/icons/Faenza/apps/scalable/libreoffice-startcenter.svg">
       <action name="Execute"><execute>libreoffice </execute></action>
     </item>
	 <item label="LibreOffice Base" icon="/usr/share/icons/Faenza/apps/scalable/libreoffice-base.svg">
       <action name="Execute"><execute>libreoffice --base </execute></action>
     </item>
      <item label="LibreOffice Calc" icon="/usr/share/icons/Faenza/apps/scalable/libreoffice-calc.svg">
       <action name="Execute"><execute>libreoffice --calc </execute></action>
     </item>
      <item label="LibreOffice Draw" icon="/usr/share/icons/Faenza/apps/scalable/libreoffice-draw.svg">
       <action name="Execute"><execute>libreoffice --draw </execute></action>
     </item>
      <item label="LibreOffice Impress" icon="/usr/share/icons/Faenza/apps/scalable/libreoffice-impress.svg">
       <action name="Execute"><execute>libreoffice --impress </execute></action>
     </item>
      <item label="LibreOffice Math" icon="/usr/share/icons/Faenza/apps/scalable/libreoffice-math.svg">
       <action name="Execute"><execute>libreoffice --math </execute></action>
     </item>
      <item label="LibreOffice Writer" icon="/usr/share/icons/Faenza/apps/scalable/libreoffice-writer.svg">
       <action name="Execute"><execute>libreoffice --writer </execute></action>
     </item>
 </menu> <!-- Ofis -->
 <menu id="Oyunlar" label="Oyunlar">
      <item label="PPSSPP" icon="/usr/share/pixmaps/ppsspp.svg">
       <action name="Execute"><execute>ppsspp </execute></action>
     </item>
 </menu>
 <menu id="Ses ve Video" label="Ses ve Video">
      <item label="mpv Media Player" icon="/usr/share/icons/hicolor/16x16/apps/mpv.png">
       <action name="Execute"><execute>mpv --profile=pseudo-gui -- </execute></action>
     </item>
	 <item label="ncmpcpp" icon="/usr/share/icons/Faenza/apps/scalable/terminal.svg">
		 <action name="Execute"><execute>urxvtc -e ncmpcpp</execute></action>
	 </item>
 </menu> <!-- Ses ve Video -->
 <menu id="Sistem Araçları" label="Sistem Araçları">
	 <item label="PCManFM" icon="/usr/share/icons/Faenza/apps/scalable/file-manager.svg">
       <action name="Execute"><execute>pcmanfm </execute></action>
     </item>
	 <item label="GParted" icon="/usr/share/icons/Faenza/apps/16/gparted.png">
       <action name="Execute"><execute>/usr/bin/gparted_polkit </execute></action>
     </item>
      <item label="Htop" icon="/usr/share/pixmaps/htop.png">
       <action name="Execute"><execute>urxvtc -e htop</execute></action>
     </item>
	 <item label="urxvt" icon="/usr/share/icons/Faenza/apps/scalable/terminal.svg">
       <action name="Execute"><execute>urxvtc</execute></action>
     </item>
 </menu>
 	<menu id="system-menu" label="Openbox">
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Tint2 Configuration Manager">
			<action name="Execute">
				<execute>tint2conf</execute>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
 </menu>
 </openbox_menu>
